Repository UdayRishiKumar-w/task-manager-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.yaml:

"*.{js,mjs,ts,cjs}":
  - eslint --fix
  - prettier --write

"*.{jsx,tsx}":
  - eslint --fix
  - stylelint --fix
  - prettier --write

"*.{css,scss,html}":
  - stylelint --fix
  - prettier --write

"*.{json,md,yaml,yml}":
  - prettier --write

ci: ignore npm scripts in docker
  Dockerfile
Due: none

refactor: layout changes
  docker-compose.yaml
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/signup/page.tsx
  src/app/tasks/page.tsx
  src/components/DashboardTaskList.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: dark, light toggle theme
  package-lock.json
  package.json
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/tasks/page.tsx
  src/components/DashboardTaskList.tsx
  src/components/HeaderAuth.tsx
  src/components/LoginForm.tsx
  src/components/ModeToggle.tsx
  src/components/SignUpForm.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.tsx
  src/components/theme-provider.tsx
  src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: manifest changes
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/apple-icon.png
  src/app/icon0.svg
  src/app/icon1.png
  src/app/layout.tsx
  src/app/manifest.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: npm to pnpm
  .dockerignore
  .gitignore
  .husky/pre-commit
  .prettierignore
  Dockerfile
  README.md
  next.config.ts
  package-lock.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/DashboardTaskList.tsx
  src/components/TaskList.tsx
  src/lib/auth.ts
  tests/TaskList.test.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: adds jest tests
  .gitignore
  .vscode/settings.json
  Dockerfile
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/__mocks__/next-auth/react.ts
  src/__mocks__/next/router.ts
  src/components/DashboardTaskList.test.tsx
  src/components/DashboardTaskList.tsx
  src/components/TaskForm.test.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.test.tsx
  src/components/TaskList.tsx
  src/lib/errors.test.ts
  src/lib/validators/auth.test.ts
  src/lib/validators/signup.test.ts
  src/lib/validators/taskSchema.test.ts
  src/server/resolvers/task.resolver.test.ts
  src/server/resolvers/user.resolver.test.ts
  src/test-utils.tsx
  src/test-utils/backend.ts
  src/types/jest-axe.d.ts
  tsconfig.jest.json
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: static rendering, auth proxy, compoenent restructure, accessibility labels
  .vscode/settings.json
  src/app/api/graphql/route.ts
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/login/layout.tsx
  src/app/login/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/signup/layout.tsx
  src/app/signup/page.tsx
  src/app/tasks/page.tsx
  src/components/AuthErrorMessage.tsx
  src/components/HeaderAuth.tsx
  src/components/LoginForm.tsx
  src/components/MainContent.tsx
  src/components/ModeToggle.tsx
  src/components/OAuthButtons.tsx
  src/components/SignUpForm.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.tsx
  src/components/skeletons/AuthStatusSkeleton.tsx
  src/components/skeletons/DashboardSkeleton.tsx
  src/components/skeletons/PageContentSkeleton.tsx
  src/components/skeletons/TaskFormSkeleton.tsx
  src/components/skeletons/TaskListSkeleton.tsx
  src/components/ui/skeleton.tsx
  src/graphql/context.ts
  src/proxy.ts
  tests/TaskList.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add redirection from auth pages
  src/components/LoginForm.tsx
  src/components/SignUpForm.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: retrieve password field too, to verify password to login
  src/lib/auth.ts
Due: eslint --fix, prettier --write

refactor: save filter state in dashboard, when switching between pages
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/DashboardTaskList.tsx
  src/store/ReduxProvider.tsx
  src/store/hooks.ts
  src/store/index.ts
  src/store/taskFiltersSlice.ts
  src/test-utils.tsx
  tests/__snapshots__/TaskList.test.tsx.snap
Due: eslint --fix, prettier --write, stylelint --fix

feat: set task to started when task is marked as completed
  src/components/TaskList.tsx
  src/graphql/client/mutations/toggleTask.graphql
  src/graphql/client/mutations/toggleTaskCompleted.graphql
  src/graphql/client/mutations/toggleTaskStarted.graphql
  src/graphql/client/queries/tasks.graphql
  src/graphql/schema.graphql
  src/server/resolvers/task.resolver.test.ts
  src/server/resolvers/task.resolver.ts
  tests/TaskList.test.tsx
  tests/__snapshots__/TaskList.test.tsx.snap
Due: eslint --fix, prettier --write, stylelint --fix

chore: eslint , tsconfig update
  .dockerignore
  .husky/commit-msg
  .lintstagedrc.yaml
  commitlint.config.ts
  jest.config.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/HeaderAuth.tsx
  src/components/LoginForm.tsx
  src/components/OAuthButtons.tsx
  src/components/SignUpForm.tsx
  src/components/TaskForm.test.tsx
  src/components/TaskForm.tsx
  src/lib/auth.ts
  src/lib/validators/auth.ts
  src/lib/validators/signup.ts
  src/lib/validators/taskSchema.ts
  tests/createTask.test.ts
  tsconfig.e2e.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.test.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: eslint update
  .gitignore
  eslint.config.mjs
Due: eslint --fix, prettier --write

Update .lintstagedrc.yaml
  .lintstagedrc.yaml
Due: prettier --write

feat: add due date in task list
  eslint.config.mjs
  src/components/DashboardTaskList.tsx
  src/components/TaskForm.test.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.tsx
  src/components/skeletons/TaskListSkeleton.tsx
  src/graphql/client/fragments/taskFull.graphql
  src/store/taskFiltersSlice.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add responsiveness, alert toast
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/DashboardTaskList.test.tsx
  src/components/DashboardTaskList.tsx
  src/components/MainContent.tsx
  src/components/TaskCard.tsx
  src/components/TaskForm.test.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.tsx
  src/components/TaskListShell.tsx
  src/components/axe.ts
  src/components/ui/checkbox.tsx
  src/components/ui/select.tsx
  src/components/ui/sonner.tsx
  src/components/ui/textarea.tsx
  tests/__snapshots__/TaskList.test.tsx.snap
Due: eslint --fix, prettier --write, stylelint --fix

chore: update test config
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  tests/__mocks__/next-auth/react.ts
  tests/__mocks__/next/router.ts
  tests/__snapshots__/TaskList.test.tsx.snap
  tests/components/DashboardTaskList.test.tsx
  tests/components/TaskForm.test.tsx
  tests/components/TaskList.test.tsx
  tests/lib/errors.test.ts
  tests/lib/validators/auth.test.ts
  tests/lib/validators/signup.test.ts
  tests/lib/validators/taskSchema.test.ts
  tests/server/resolvers/task.resolver.test.ts
  tests/server/resolvers/user.resolver.test.ts
  tests/test-utils/backend.ts
  tests/types/jest-axe.d.ts
  tests/utils.tsx
  tsconfig.e2e.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: protect graphql api route
  src/proxy.ts
Due: eslint --fix, prettier --write

refactor: responsive filter select, highlight active path nav
  src/components/DashboardTaskList.tsx
  src/components/HeaderAuth.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: prettier --write

refactor: resolvers, proper types
  .prettierignore
  codegen.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/api/auth/[...nextauth]/route.ts
  src/app/layout.tsx
  src/components/DashboardTaskList.tsx
  src/components/TaskCard.tsx
  src/components/TaskForm.tsx
  src/components/TaskList.tsx
  src/components/ui/calendar.tsx
  src/graphql/client/ApolloClientProvider.tsx
  src/graphql/client/AuthProvider.tsx
  src/graphql/client/apolloClient.ts
  src/graphql/schema.graphql
  src/lib/auth.ts
  src/models/Task.ts
  src/models/User.ts
  src/server/loaders/userLoader.ts
  src/server/resolvers/index.ts
  src/server/resolvers/task.resolver.ts
  src/server/resolvers/user.resolver.ts
  src/store/taskFiltersSlice.ts
  src/types/next-auth.d.ts
  tests/__snapshots__/TaskList.test.tsx.snap
  tests/server/resolvers/task.resolver.test.ts
  tests/server/resolvers/user.resolver.test.ts
  tsconfig.e2e.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: types in tests
  tests/__snapshots__/TaskList.test.tsx.snap
  tests/server/resolvers/task.resolver.test.ts
  tests/server/resolvers/user.resolver.test.ts
  tests/test-utils/backend.ts
Due: eslint --fix, prettier --write
